
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            <button type="button" id="btnValideAddTech" class="btn btn-success">Enregister</button>
        </div>
    {{ form_end(form) }}
